@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

        * {
            box-sizing: content-box;
        }

        body {
            background-color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .disabled {
            background: linear-gradient(to right, grey, rgb(221, 221, 221)) !important;
        }

        .general {
            width: 400px;
            height: 300px;
            background-color: #FFF;
        }

        .input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 20%;
        }

        .botones {
            display: flex;
            height: 80%;

        }

        .blue {

            width: 50%;
            height: 100%;

            button {
                background: linear-gradient(to left, rgb(10, 98, 169), rgb(34, 200, 215));
            }
        }

        .red {
            display: flex;
            width: 50%;
            height: 100%;
        }

        .numbers {
            width: 100%;
            height: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

        }

        .coma_y_zero {
            align-items: flex-end;
            justify-content: space-around;
            display: flex;
            width: 100%;
            height: 25%;

        }

        .operators {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 33%;
            height: 100%;

            button {
                background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 119, 0));
            }
        }

        .equal_negative_reset {
            width: 67%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            button {
                background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 119, 0));
            }
        }

        input {
            width: 89%;
            height: 60%;
            border: 0;
            border-radius: 999px;
            background-color: #6e6e6e;
            color: white;
            text-align: right;
            padding-right: 10px;
            font-size: 35px;
            font-family: "Orbitron";
        }

        input::placeholder {
            color: white;
        }

        button {
            margin: 5px;
            padding: 0px;
            border-radius: 20px;
            font-size: 35px;
            color: white;
            border: 0;
            width: 50px;
            height: 50px;

        }

        .rectangular {
            width: 112px;
            height: 50px;
        }

        .button_igual {
            width: 112px;
            height: 112px;
        }